<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="addLessons" method="post" >
		
		<label>Lesson Id: </label> 
		<input type="text" name="lessonId" /> 
		<br>
		
		<label>Lesson name: </label> 
		<input type="text" name="lessonName" /> 
		<br>
		
		<label>Topics: </label> 
		<input type="text" name="topics" /> 
		<br>
		
		<label>Lesson video link: </label> 
		<input type="text" name="link" /> 
		<br>
		
		<input type="submit" value="ADD LESSON"/>

	</form>

</body>
</html>