<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h1>User REGISTRATION:</h1>
	<form action="register" method="post">
		<label>User name :</label> 
		<input type="text" name="username">
		<br> 
		
		<label>Email :</label> 
		<input type="email" name="email">
		<br> 
		
		<label>Password :</label> 
		<input type="password" name="password">
	    <br> 
		
		<label>Role :</label>
		Trainer<input type="radio" name="role" value="trainer"> 
		Student<input type="radio" name="role" value="student">
	    <br>
	    
	    <input type="submit" value="REGISTER">

	</form>

</body>
</html>